@import url('general.css');

#title {
  /* background-color: red; */
  text-align: center;
}

#content {
  background-color: #222222;
}

#color, #desc-color {
  cursor: text;
}

#save {
  background-color: yellow;
}

form {
  display: inline;
  margin: 0;
}
